body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80;
    margin: auto;
    overflow: hidden;
}

nav {
    margin: 100 0;
	background-color: #E64A19;
			}
			
			/* убираем отступы и поля, а также list-style для "ul", 
			 * и добавляем "position:relative" */
	nav ul {
			padding:0;
			margin:0;
			list-style: none;
			position: relative;
			}
			
			/* применяем inline-block позиционирование к элементам навигации */
		nav ul li {
			margin: 0 -7 0 0;
			display:inline-block;
			background-color: #E64A19;
			}
			
			/* стилизуем ссылки */
			nav a {
			    display:block;
			    padding:0 10;
			    color:#FFF;
			    font-size:20;
			    line-height: 60;
			    text-decoration:none;
			}
			
			/* изменяем цвет фона при наведении курсора */
			nav a:hover {
			    background-color: #000000;
		}


header {
    background: #333;
    color: #fff;
    padding-top: 30;
    min-height: 70;
    border-bottom: #77d5d5 3 solid;
}

section {
    padding: 20 0;
    border-bottom: 1 solid #e1e1e1;
}

section:last-of-type {
    border-bottom: none;
}

